*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Courier New", Courier, monospace;
}

h2 {
  position: relative;
  left: -1rem;
}

::selection {
  background-color: black;
  color: white;
}

header {
  display: block;
  text-align: center;
  font-weight: bold;
  background-color: #fefbe9;
  padding: 1.25rem 1.25rem;
}

header > a + a {
  margin-left: 1rem;
}

.header-title {
  font-size: 3rem;
}

.header-title h1 {
  font-size: 1em;
}

.header-title p {
  font-size: 0.25em;
}

header div > a {
  color: #183a1d;
}

header div > a:hover {
  color: #f0a04b;
}

header div > a:active {
  color: blue;
}

header p::after {
  content: " 💻";
}

/* NAVIGATION */

.header-navi {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .header-navi {
    flex-direction: row;
    justify-content: center;
  }
}

/* HIRE-ME-BADGE */

.hire-me-badge {
  position: fixed;
  top: 0.6rem;
  right: 0.6rem;
  background-color: #183a1d;
  color: #e1eedd;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  border-radius: 0.3rem;
  font-weight: bold;
}

.hire-me-badge:hover {
  color: #e1eedd;
  background-color: #f0a04b;
}

/* MAIN-CONTENT */

main {
  display: block;
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
}

main > article + article {
  margin-top: 5rem;
}

#experience {
  border-top: 0.125rem #3c3c3c solid;
}

#skills {
  border-top: 0.125rem #3c3c3c solid;
}

#contact {
  border-top: 0.125rem #3c3c3c solid;
}

#contact a {
  font-weight: bold;
  color: #183a1d;
}

#contact a:hover {
  color: #f0a04b;
}

#contact a:active {
  color: blue;
}

.experience-subheading {
  display: inline-block;
}

.experience-item {
  display: flex;
  flex-direction: column;
}

.experience-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.job-title {
  font-weight: bold;
}

.job-time {
  font-style: italic;
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .experience-heading {
    flex-direction: row;
    align-items: center;
  }

  .job-time {
    margin-top: 0;
    margin-left: auto;
  }
}

@media (min-width: 786px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 20px;
  }
}

@media print {
  header a,
  .hire-me-badge {
    display: none;
  }
}
