*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Courier New", Courier, monospace;
}

::selection {
  background-color: black;
  color: white;
}

header {
  display: block;
  text-align: center;
  font-weight: bold;
  background-color: #fefbe9;
  padding: 20px 20px;
}

header > a + a {
  margin-left: 10px;
}

header > a {
  color: #183a1d;
}

header > a:hover {
  color: #f0a04b;
}

header > a:active {
  color: blue;
}

header p::after {
  content: " 💻";
}

.hire-me-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #183a1d;
  color: #e1eedd;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.hire-me-badge:hover {
  color: #e1eedd;
  background-color: #f0a04b;
}

main {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

main > article + article {
  margin-top: 50px;
}

#experience {
  border-top: 2px #3c3c3c solid;
}

#skills {
  border-top: 2px #3c3c3c solid;
}

#contact {
  border-top: 2px #3c3c3c solid;
}

#contact a {
  font-weight: bold;
  color: #183a1d;
}

#contact a:hover {
  color: #f0a04b;
}

#contact a:active {
  color: blue;
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}
