*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  /* LEGENDE */

  /* --clr = color */
  /* --f = font */

  --text-color: #3c3c3c;
  --head-color: whitesmoke;
  --theme-color: whitesmoke;
  --company-color: #183a1d;
  --company-color-2: #fefbe9;
  --company-color-3: #f0a04b;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--theme-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

  --page-background-color: white;
  --page-text-color: black;
}

h1,
h2,
h3 {
  font-family: "Courier New", Courier, monospace;
}

h2 {
  position: relative;
  left: -1rem;
}

::selection {
  background-color: black;
  color: white;
}

/* HEADER */

header {
  display: block;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    var(--company-color-2),
    var(--company-color)
  );
  padding: 1.25rem 1.25rem;
}

header h1,
header p {
  color: var(--head-color);
}

header > a + a {
  margin-left: 1rem;
}

.header-title {
  font-size: 3rem;
}

.header-title h1 {
  font-size: 1em;
}

.header-title p {
  font-size: 0.25em;
}

header div > a {
  color: var(--company-color);
  text-decoration: none;
  background-color: transparent;
  padding: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-radius 0.3s ease;
  border-radius: 0;
}

header div > a:hover,
header div > a:focus {
  background-color: var(--company-color-3);
  color: var(--head-color);
  border-radius: 12px; /* check */
}

header div > a:active {
  color: var(--company-color);
}

header p::after {
  content: " 💻";
}

/* NAVIGATION */

.header-navi {
  display: grid;
  gap: 1rem;
}

@media (min-width: 768px) {
  .header-navi {
    grid-template-columns: repeat(5, auto);
    justify-content: center;
  }
}

/* HIRE-ME-BADGE */

.hire-me-badge {
  position: fixed;
  top: 0.6rem;
  right: 1rem;
  background-color: var(--company-color);
  color: var(--head-color);
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  border-radius: 0.3rem;
  font-weight: bold;
  transition: transform 0.3s ease;
  transform: scale(1);
}

header:hover .hire-me-badge,
header:focus-within .hire-me-badge {
  transform: scale(1.2);
}

.hire-me-badge:hover {
  color: var(--company-color);
  background-color: var(--company-color-3);
}

/* MAIN-CONTENT */

main {
  display: block;
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;

  color: var(--text-color);
}

main > article + article {
  margin-top: 5rem;
}

#experience {
  border-top: 0.125rem var(--company-color) solid;
}

#skills {
  border-top: 0.125rem var(--company-color) solid;
}

#contact {
  border-top: 0.125rem var(--company-color) solid;
}

#contact a {
  font-weight: bold;
  color: var(--company-color);
  text-decoration: none;
}

#contact a:hover {
  color: var(--company-color-3);
}

#contact a:active {
  color: blue;
}

.experience-subheading {
  display: inline-block;
}

.experience-item {
  display: grid;
  gap: 1rem;
}

.experience-heading {
  display: grid;
  gap: 0.5rem;
}

.job-title {
  font-weight: bold;
}

.job-time {
  font-style: italic;
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .experience-heading {
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  .job-time {
    margin-left: auto;
  }
}

@media (min-width: 786px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 20px;
  }
}

@media print {
  header a,
  .hire-me-badge {
    display: none;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --page-background-color: black;
    --page-text-color: white;
  }
}

/* FOOTER */

footer {
  display: grid;
  justify-items: center;
  padding: 1.5rem;
  background: linear-gradient(
    90deg,
    var(--company-color),
    var(--company-color-2)
  );
  color: var(--head-color);
}

footer p {
  margin: 0;
}

footer a {
  color: var(--company-color);
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: var(--company-color-3);
}
